:root {
    --app-margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform-origin: center;
}

body {
    font-family: monospace;
    color: white;
    overflow: hidden;
}

#app-container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--app-margin);
}

#symbol-container {
    height: 33.33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#symbol-display {
    width: 80%;
    max-width: 300px;
    stroke: white;
    stroke-width: 20;
    transition: opacity 200ms ease-in-out;
}

#controls-container {
    display: flex;
    gap: var(--app-margin);
    margin-bottom: env(safe-area-inset-bottom, 0);
}

#new-symbol-btn {
    flex-grow: 1;
    background-color: white;
    color: black;
    padding: 15px;
    border: none;
    transition: background-color 200ms;
}

#new-symbol-btn:active {
    background-color: yellow;
}

#settings-btn {
    width: 54px;
    background-color: black;
    border: 2px solid white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-btn svg {
    stroke: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    color: black;
    margin: var(--app-margin);
    padding: var(--app-margin);
    height: calc(100dvh - 40px);
    display: flex;
    flex-direction: column;
    gap: var(--app-margin);
}

.attribution {
    font-size: 0.9em;
    line-height: 1.4;
    opacity: 0.7;
}

.select-buttons {
    display: flex;
    gap: 10px;
}

.symbol-checklist {
    flex-grow: 1;
    overflow-y: auto;
}

.symbol-checklist label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

#set-symbols-btn {
    width: 100%;
    padding: 15px;
    color: white;
}

.show {
    display: block !important;
}